<section>
  <div class="page-header">
    <div class="row">
      <div class="col-sm-11">
        <h1>
          Prestamos
        </h1>
      </div>
      <div class="col-sm-1">
        <a class="btn btn-primary" data-ui-sref="prestamos.create">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
    <colgroup>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
    </colgroup>
    <tr ng-repeat="row in $data">
      <td data-title="'Creado por'" filter="{ 'createdBy': 'select' }" filter-data="vm.listCreatedBy">
        {{row.createdBy.displayName}}
      </td>
      <td data-title="'Deudor'" filter="{ 'debtor': 'select' }" filter-data="vm.listDebtors">
        {{row.debtor.displayName}}
      </td>
      <td data-title="'Cantidad'" filter="{ amount: 'number' }">
        {{row.amount}}
      </td>
      <td data-title="'Plan'" filter="{ plan_id: 'text' }">
        {{row.plan_id.name}}
      </td>
      <td data-title="'Fecha de inicio'" filter="{ init_date: 'text' }">
        {{row.init_date}}
      </td>
      <td data-title="'Fecha de fin'" filter="{ final_date: 'text' }">
        {{row.final_date}}
      </td>
      <td data-title="'Dirección'" filter="{ address: 'text' }">
        {{row.address}}
      </td>
      <td data-title="'Total a pagar'" filter="{ total_to_pay: 'number' }">
        {{row.total_to_pay}}
      </td>
      <td data-title="'Valor por cuota'" filter="{ value_per_fee: 'number' }">
        {{row.value_per_fee}}
      </td>
      <td data-title="'Acciones'">
        <button class="btn btn-default btn-sm" ui-sref="prestamos.view({ prestamoId: row._id })">
          <span class="fas fa-eye"></span>
        </button>
        <button class="btn btn-default btn-sm" ui-sref="prestamos.edit({prestamoId: row._id})">
          <span class="fas fa-pencil-alt"></span>
        </button>
        <button class="btn btn-default btn-sm" ng-click="vm.remove(row._id)">
          <span class="fas fa-trash-alt"></span>
        </button>
      </td>
    </tr>
  </table>
</section>
