<section>
  <div class="page-header">
    <h1>Prestamos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="prestamo in vm.prestamos.results" ui-sref="prestamos.view({ prestamoId: prestamo._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="prestamo.created | date:'mediumDate'"></span>
        by
        <span ng-if="prestamo.user" ng-bind="prestamo.user.displayName"></span>
        <span ng-if="!prestamo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="prestamo.title"></h4>
      <p class="list-group-item-text" ng-bind="prestamo.content"></p>
    </a>
  </div>
</section>
