<section>
    <div class="row">
      <div class="col-md-4 ml-auto">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <h1>
              {{vm.plan._id ? 'Edit Plan' : 'New Plan'}}
              <a
                ng-show="vm.plan._id"
                class="btn btn-primary ml-4"
                ng-click="vm.remove()"
                style="color:white;">
                <i class="fas fa-trash-alt">
                </i>
              </a>
            </h1>
          </div>
          <div class="card-body">
            <form
              name="vm.form.planForm"
              class="form-horizontal"
              ng-submit="vm.save(vm.form.planForm.$valid)"
              novalidate>
              <fieldset>
                
              <div class = "form-group" show-errors>
                <label class = "control-label" for = "name">
                  Name
                </label>
                <input type = "text"
                       class = "form-control"
                       name = "name"
                       id = "name"
                       ng-model = "vm.plan.name"
                       placeholder = "Name"
                       required
                       autofocus>
                <div ng-messages = "vm.form.planForm.name.$error" role = "alert">
                  <p class = "help-block error-text" ng-message = "required">
                    name
                  </p>
                </div>
              </div>

              <div class = "form-group" show-errors>
                <label class = "control-label" for = "periodicity">
                  Periodicity
                </label>
                <input type = "text"
                       class = "form-control"
                       name = "periodicity"
                       id = "periodicity"
                       ng-model = "vm.plan.periodicity"
                       placeholder = "Periodicity"
                       required>
                <div ng-messages = "vm.form.planForm.periodicity.$error" role = "alert">
                  <p class = "help-block error-text" ng-message = "required">
                    periodicity
                  </p>
                </div>
              </div>

              <div class = "form-group" show-errors>
                <label class = "control-label" for = "interest">
                  Interest
                </label>
                <input type = "text"
                       class = "form-control"
                       name = "interest"
                       id = "interest"
                       ng-model = "vm.plan.interest"
                       placeholder = "Interest"
                       required>
                <div ng-messages = "vm.form.planForm.interest.$error" role = "alert">
                  <p class = "help-block error-text" ng-message = "required">
                    interest
                  </p>
                </div>
              </div>

              <div class = "form-group" show-errors>
                <label class = "control-label" for = "number_of_fees">
                  Número de cuotas
                </label>
                <input type = "text"
                       class = "form-control"
                       name = "number_of_fees"
                       id = "number_of_fees"
                       ng-model = "vm.plan.number_of_fees"
                       placeholder = "Número de cuotas"
                       required>
                <div ng-messages = "vm.form.planForm.number_of_fees.$error" role = "alert">
                  <p class = "help-block error-text" ng-message = "required">
                    El número de cuotas es requerido
                  </p>
                </div>
              </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    {{vm.plan._id ? 'Update' : 'Create'}}
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
