<section>
  <div class="page-header">
    <div class="row mb-3">
      <div class="col-md-3">
        <h1>
        Users
        <a class="btn btn-primary" ui-sref="admin.user-create">
          <i class="fa fa-plus"></i>
        </a>
      </h1>
      </div>
      <div class="col-md-7 mr-auto">
        <input class="form-control col-md-12" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item" style="color:black;">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
