<section>
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <nav class="col-md-3">
<!--       <ul class="">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul> -->
      <ul class="list-group">
        <li class="list-group-item" ui-sref="active">
          <a class="active" ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li class="list-group-item" ui-sref="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li class="list-group-item" ui-sref="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li class="list-group-item" ui-sref="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
    </nav>
    <div class="col-md-5 mx-auto pt-4 settings-view">
      <div ui-view></div>
    </div>
  </div>

  
</section>
